.contenedor-1 {
  display: flex;
  flex-direction: row; /* Cambia la dirección a horizontal */
  justify-content: space-between; /* Espacio uniforme entre los recuadros */
  align-items: center; /* Centra verticalmente */
  /* flex-wrap: nowrap; */ /* Elimina esta línea para permitir el ajuste de los elementos */
}

.contenedor-pequeno {
  background-color: var(--Grey);
  border: 0px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  flex: 0 1 auto;
  box-sizing: border-box;
  min-width: 40px;
}

.texto-pequeno {
  font-size: 8px; /* Tamaño de letra más pequeño */
}
